/* src/components/Layout/Layout.css */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root, .layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 2rem 1rem;
}

.footer {
  background-color: #f8f9fa;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.05);
}
