.custom-cancel-btn {
  background-color: #f4f4f2;
  color: #000;
  border: 1px solid rgba(153, 153, 153, 0.5); /* #999 with 40% opacity */
  transition: background-color 0.3s ease;
}

.custom-cancel-btn:hover {
  background-color: #FFC107; /* Bootstrap primary */
  color: #000;
}

.code-btn {
  background-color: #BDDFBC;
  color: #000;
  border: none;
  transition: border 0.2s ease;
}

.code-btn:hover {
  border: 1px solid #000; /* 얇은 검은 실선 테두리 */
}

